apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest  # From your Docker build
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_PORT
          value: "5432"
        - name: DB_USERNAME
          value: "ticket_user"
        - name: DB_PASSWORD
          value: "ticket123"
        - name: DB_DATABASE
          value: "Ticket"
        - name: JWT_SECRET
          value: "my-super-secret-2025"